{% extends 'base.html' %}
{% block title %}Setting New password{% endblock %}

{% block login %}
    <div class="auth">
        {% if validlink %}
            <p>Введите новый пароль</p>
            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Пароль:</label>
                {{ form.new_password1 }}
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Еще разик:</label>
                {{ form.new_password2 }}
                <input type="submit" value="Сменить"/>

            </form>
        {% else %}
            <h1>Неудачно</h1>
            <p>Ссылка невалидна, попробуйте-ка еще разок.</p>
        {% endif %}
    </div>
{% endblock %}