{% extends 'base.html' %}
{% block title %}Hey, man{% endblock %}
{% block content %}
{% endblock %}
{% block login %}
        <div class="auth">
        <h2>Авторизация</h2>
        <hr>
            <form action="/auth/login/" method="post">
                {% csrf_token %}
                <label for="username">Имя:</label>
                <input type="text" name="username" id="username" placeholder="Логин">
                <label for="password">Пароль:</label>
                <input type="password" name="password" id="password" placeholder="Пароль">
                {% if login_error %}
                    <label class="error">{{ login_error }}</label>
                {% endif %}
                <input type="submit" value="Enter">

                <div>
                    <h4><a href="/auth/register/">Регистрация</a></h4>
                    <h4><a href="/auth/password_reset/">Забыли пароль?</a></h4>
                </div>
            </form>
        </div>

{% endblock %}