<header>
        <hgroup>
            <h2><a href="{% url 'home_page' %}">Tips'<span>n</span>'Tricks</a></h2>

            <nav>
                <ul id="main-menu" class="menu">
                    <li>
                        <form action="/search" method="GET" class="search-form">
                            <div>
                                <input type="search" name="q" id="q" placeholder="search..."/>
{#                                <button type="submit">Search</button>#}
                            </div>
                        </form>
                    </li>
                    {% if user.username %}
                        <li class="item"><a href="/recipe/add">Добавить рецепт</a></li>
                        <li class="item"><a href="/auth/logout/">Выйти</a><span>{{ user.username }}</span></li>
                    {% else %}
                        <li class="item"><a href="/auth/login/">Войти</a></li>
                    {% endif %}
                </ul>
            </nav>
        </hgroup>
    </header>