{% extends 'base.html' %}
{% load recipe_extras %}

{% block title %}Главная{% endblock %}
{% block content %}
    {% for recipe in recipes %}
        <article>
            <div class="info">
                <h1><a href="{% url 'home_page' %}recipes/{{ recipe.id }}">{{ recipe.title }}</a></h1>
                <div class="timestamp"><i>{{ recipe.timestamp }}</i></div>
                <div class="author"><i>{{ recipe.author }}</i></div>
            </div>
            <div class="content">
                {{ recipe.text|split:"<cut>"|linebreaks }}
            </div>
        </article>
    {% endfor %}
    <div id="scroller">
        <div id="pager">0%</div>

    </div>
{% endblock %}