{% extends 'base.html' %}
{% load staticfiles %}
{% load recipe_extras %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
    <article>
        <div class="info">
{#            <h1><a href="{% url 'home_page' %}recipes/{{ recipe.id }}">{{ recipe.title }}</a></h1>#}
            <h1><a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a></h1>

            <div class="author-time">
                <div class="timestamp"><i>{{ recipe.timestamp }}</i></div>
                <div class="author"><i>{{ recipe.author.username }}</i></div>
            </div>
            {% if not wrong_author %}
            <div id="edit-sprite">
                <a href="/recipes/editrecipe/{{ recipe.id }}/">
                    <img src="{% static 'img/edit.png' %}"/>
                </a>
            </div>
            {% endif %}
        </div>
        <div class="content">
                {{ recipe.get_content|safe|delete_cuts|safe}}
        </div>

        <div class="tags">
            <ul>
                {% for tag in tags %}
                    <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </article>


    {% include 'disqus-block.html' %}
{% endblock %}